<div class="chat-container">
    <div class="chat-header">
        <h2 class="app-title">Ollama Chat</h2>
    </div>
    
    <div class="center">
        <mat-spinner *ngIf="messageSent"></mat-spinner>
    </div>

    <div #userMessages class="scrollable-y">
        <div  class="chat-messages" *ngFor="let message of messages">
            <span>{{ message.sender }}</span>
                <div *ngIf="message.type==='msg'" class="ollama-wrap" matTooltip="{{ message.text }}" [innerHtml]=message.text></div>
                <!-- <p *ngIf="message.type==='msg'" class="ollama-wrap" matTooltip="{{ message.text }}">{{ message.text }}</p> -->
                <br>
                <img *ngIf="message.type==='img'" [src]="message.text" width="200" height="200">
        </div>
    </div>
    

    <div class="chat-input">
        <form [formGroup]="messageForm" #formDirective="ngForm" id="messageForm" (ngSubmit)="sendMessage(formDirective)">
            <mat-form-field class="example-full-width" appearance="fill">
                <input matInput id="messageInput" formControlName="text" placeholder="Type a message here..">
                <mat-error *ngIf="messageForm?.get('text')?.invalid">Message is required</mat-error>
            </mat-form-field>
            <button mat-button color="primary" class="send-button" type="submit" [disabled]="messageSent">
                <mat-icon>send</mat-icon>
            </button>
        
            <button type="button" mat-button class="fileupload-button" color="primary" 
                (click)="fileUpload.click()" [disabled]="messageSent">
                <mat-icon>file_copy</mat-icon>
            </button>
            <input hidden type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
        </form>
    </div>

</div>