<div class="chat">
    <!-- Cards with media area -->
    <mat-card class="chat-card" *ngFor="let message of messages">
        <mat-card-header>
        <mat-card-title-group>
            <mat-card-title>{{ message.sender }}</mat-card-title>
        </mat-card-title-group>
        </mat-card-header>
        <mat-card-content class="mat-card-content">
            {{ message.text }}
        </mat-card-content>
  </mat-card>
</div>



<form [formGroup]="messageForm" (ngSubmit)="sendMessage()">

    <mat-form-field appearance="fill">
        <input matInput formControlName="text" placeholder="Type a message here..">
        <mat-error *ngIf="messageForm?.get('text')?.invalid">Message is required</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" type="submit">Send</button>
</form>
